body{
    font-family: 'Merriweather', serif;
    background-color: #ffffff;
    color: #333;
}

.wrap ul {
    position: relative;
    width: 700px;
    border: 2px #eee solid;
    margin: 5px auto;
    padding: 10px;
    overflow: hidden;
    list-style-type: none;
}

.timiline-item {
    position: relative;
    border-bottom: 2px #eee solid;
    overflow: hidden;
    margin-bottom: 5px;
}

.content {
    float: left;
    text-align: left;
    padding-right: 10px;
}

.publisher-logo {
    width: 48px;
    padding: 0 10px 0 0;
    text-align: center;
}

.news {
    width: 630px;
    padding: 0 5px;
    font-size: 10pt;
    margin: 0 auto;
}

.news h2 {
    font-size: 16pt;
    margin: 0;

}

.news p {
    font-size: 12pt;
    font-weight: normal;
    margin: 5px auto;
    padding: 5px 10px;
}

.publication-date{
    float: right;
    width: 110px;
}

.published-time {
    font-family: 'Inconsolata', monospace;
    font-size: 16pt;
    font-weight: 400;
    margin-top: 0;
    color:#999;
}

.news-url{
    font-size: 12pt;
    font-weight: 400;
    color:#1e5d87;
}

.timeline-name{
    color:#999;
    font-size: 14pt;
    text-decoration: none;
}
.timeline-name :hover{
    color: #1e5d87;
}

.republished-icon, .favorite-icon{
    height: 50px;
    left: 10px;
    overflow: hidden;
    padding-right: 10px;
    position: relative;
    width: 100px;
    display: inline-block;
    color: rgb(105, 120, 130);
    font-size: 12pt;
}
